body, html {
    height: 100%;
}

/*body {
    background: url("santa.jpg");
    width: 100%;
    position: absolute;
}*/

.container-narrow {
    background: url("cream_dust_transparent.png") repeat 0 0;
    position: absolute;
    height:100%;
    width: 70%;
    left: 15%;
}

.indexContainer{
    margin-left:10%;
    margin-right:10%;
}
    
    
.parallax { 
    /* The image used */
    background-image: url("santa.jpg");

    /* Set a specific height */
    height: 100%; 
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Container needed to position the button. Adjust the width as needed */
.container2 {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.container2 img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container2 .btn {
  position: absolute;
  left: 50%;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  
  /*
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;*/
}

.container2 .btn:hover {
  background-color: black;
}